/*remove all underline*/
a {
    text-decoration: none !important;
}

.btn-theme {
    background: #CD1F25;
    color: #ffffff;
}

/*circle btn*/
.btn-circle {
    width: 30px;
    height: 34px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.cart-btn:hover, .btn-theme:hover {
    box-shadow: inset 0 0 100px 100px rgba(50, 50, 50, 0.2);
    color: #ffffff;
}

.no_color {
    color: inherit;
}

hr.thick {
    border-width: 2px;
}

#small {
    width: 50px;
}

#medium {
    width: 100px;
}

#large {
    width: 200px;
}
/*map in about*/
#i-map {
    width: 100%;
    height: 600px;
}

/*table cells in cart*/
#cart-td > td {
    vertical-align: middle;
}

#cart-head {
    background-color: #edf2ef;
}

#cart-head > tr > td {
    border: 1px solid #edf2ef;
}

/*input(number) spinner hide - for chrome*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    text-align:center;
}