
@{
    ViewBag.Title = "OrderError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="section group ">
        <span class="alert alert-danger">Order Failed</span>
    </div>
</div>

