
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="section group ">
        <span class="alert alert-success">Order Success</span>
    </div>
</div>
