
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>images</title>
</head>
<body>
    <div> 
        @ViewBag.imagestring
    </div>
    <img src="https://picsum.photos/200/300" width="400" height="200"/>
</body>
</html>
