
@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Service/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-center">
    <h1 class="h1 mb-0 text-gray-800">Info</h1>
</div>

@section ServiceScript{

} 